<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>login</title>

  <!-- Custom fonts for this template-->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

  <!-- datatables -->
  <link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

</head>


<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              {% from "includes/_formhelpers.html" import render_field %}
              <form class="user" method="post" action="" id="myform">
                <div class="form-group">
                  {{render_field(form.username, class_="form-control form-control-user",placeholder="Enter your Name")}}

                </div>
                <div class="form-group">
                  {{render_field(form.email, class_="form-control form-control-user",type="email",placeholder="Email Address")}}

                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    {{render_field(form.password, class_="form-control form-control-user",placeholder="Password")}}

                  </div>
                  <div class="col-sm-6">
                    {{render_field(form.confirm, class_="form-control form-control-user",placeholder="confirm password")}}
                  </div>
                </div>
                <a href="javascript:;" onclick="document.getElementById('myform').submit()" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</body>

</html>
